extends ./base.pug
block content 
  
  //link(rel='stylesheet', href='/stylesheets/cool/kidevalform.css')
  h3= `${al_id} ${fn}`
  style.
    input{color:black}
    input[type="checkbox"] {
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.5em;
      height: 1.5em;
    }
    
  script.
    function fmt_time() {
       let d = new Date(), Y = d.getFullYear(), M = d.getMonth() + 1, D = d.getDate();
       let HH = d.getHours(), MM = d.getMinutes(), SS = d.getSeconds(), MS = d.getMilliseconds();
       //return Y + '' + (M < 10 ? "0" + M : M) + '' + (D < 10 ? "0" + D : D) + "" + (HH < 10 ? '0' + HH : HH) + "" + (MM < 10 ? "0" + MM : MM) //+ ":" + SS +":" + MS;
       return  (HH < 10 ? '0' + HH : HH) + "：" + (MM < 10 ? "0" + MM : MM) 
    }
    function intime(aaid,a){
      var x = document.getElementById("upd_"+aaid);
      x.checked = true;
      for(o of ["leave_","rollcall_","miss_"])
      {
         let temp_ = document.getElementById(o+aaid);
         console.log(temp_.id,a.id)
         if(temp_.id == a.id){


         }else{
           temp_.checked = false;
         }
      }
      var x = document.getElementById("upd_"+x);
      //var x = document.getElementById("in_time_"+x);
      //x.value=fmt_time()
      //if(a.value==3) x.value=""
    }
    function outtime(x,a){
      var x = document.getElementById("out_time_"+x);

      x.value=fmt_time()
    }
  form(method="POST", enctype="multipart/form-data")
    table.table 
      tr 
        td 更新
        td &nbsp;Name
        td &nbsp;
        td &nbsp;
        td &nbsp; 
      for book in books
        tr
          td
            input(type="checkbox",id=`upd_${book.aa_id}`)          
          td  
            span= book.c_name
            br
            span= book.classno
            span 	&nbsp;
            span= book.seat 
          td
            .form-group
              label(for="title",style="width:20px") 請假
              input(type="checkbox", name=`leave_${book.aa_id}`,id= (`leave_${book.aa_id}`), value=1, checked= ( book.leave == 1 ? true : false ),onclick=`intime(${book.aa_id},this)` )
          td  
            .form-group
              label(for="title",style="width:20px") 報到
              input(type="checkbox", name=`rollcall_${book.aa_id}`,id= (`rollcall_${book.aa_id}`), value=1,checked= ( book.rollcall == 1 ? true : false ),onclick=`intime(${book.aa_id},this)` )
          td  
            .form-group
              label(for="title",style="width:20px") 失踪
              input(type="checkbox", name=`miss_${book.aa_id}`,id= (`miss_${book.aa_id}`), value= 1,checked= ( book.miss == 1 ? true : false ),onclick=`intime(${book.aa_id},this)` )
    button.btn.btn-success(type="submit") Save
    if !books.length
      p No activity course found.

  

