extends ./base.pug
block content 
  h3= `${al_id} ${fn}`
  style.
    input{color:black}
    input[type="text"] {
      border:0
    }
    input[type="checkbox"] {
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.5em;
      height: 1.5em;
    }
  script.
    function aaaa(){
      let staf_ref="#{rollcall_by}"
      let ori_list=[]
      let act="add";
      var table = document.getElementById("grp_list");
      for (var i = 0, row; row = table.rows[i]; i++) {
         //for (var j = 0, col; col = row.cells[j]; j++) {  }
         ori_list.push(`${row.cells[0].innerHTML}`)
         if(row.cells[0].innerHTML==staf_ref) act="update"
      }      
      let cnt=document.getElementById("aa_li_cnt").value;
      var reg = /^\d+$/;
      if(cnt.match(reg) && (Number(cnt)>0 && Number(cnt) < 100) ){
      $.post( "#{act}",{cnt:cnt,act:act}, function( data ) {
        let table_ctx=""
        for(let r of JSON.parse(data)){
          table_ctx+=`<tr><td>${r.stud_ref}<td>${r.al_id}<td>${r.classno}<td>${r.cnt}`
        }
        $( "#grp_list" ).html( table_ctx );
      });
      }
    }
    $(document).ready(function () {
      $('#formid').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
          e.preventDefault();
          return false;
        }
      });
    });  
    function fmt_time() {
       let d = new Date(), Y = d.getFullYear(), M = d.getMonth() + 1, D = d.getDate();
       let HH = d.getHours(), MM = d.getMinutes(), SS = d.getSeconds(), MS = d.getMilliseconds();
       //return Y + '' + (M < 10 ? "0" + M : M) + '' + (D < 10 ? "0" + D : D) + "" + (HH < 10 ? '0' + HH : HH) + "" + (MM < 10 ? "0" + MM : MM) //+ ":" + SS +":" + MS;
       return  (HH < 10 ? '0' + HH : HH) + "：" + (MM < 10 ? "0" + MM : MM) 
    }
    function rollcallAll(){
      $("form input:checkbox").each(function () { 
        
        if(this.id.startsWith("id"))
        {
           let aaid=this.id.split("_")[1]
           let leave=document.getElementById("leave_"+aaid).checked
           let rollcall=document.getElementById("rollcall_"+aaid).checked
           let miss=document.getElementById("miss_"+aaid).checked
           if(leave || rollcall || miss)
           {
           }else
           {
             document.getElementById("rollcall_"+aaid).checked=true
             document.getElementById("id_"+aaid).checked=true
           }
        }
      }); 
    }
    function reset_row(aaid,a){
      var x = document.getElementById("id_"+aaid);
      if(!x.checked) {
        if(document.getElementById("leave_"+aaid).checked) document.getElementById("leave_"+aaid).checked=false
        if(document.getElementById("rollcall_"+aaid).checked) document.getElementById("rollcall_"+aaid).checked=false
        if(document.getElementById("miss_"+aaid).checked) document.getElementById("miss_"+aaid).checked=false
      }
    }
    function intime(aaid,a){
      var x = document.getElementById("id_"+aaid);
      x.checked = true;
      let nullcnt=0
      for(o of ["leave_","rollcall_","miss_"])
      {
         let temp_ = document.getElementById(o+aaid);
         console.log(temp_.id,a.id)
         if(temp_.id == a.id && temp_.checked){
           if(a.id.startsWith("leave_")) document.getElementById("va_"+aaid).value=1
           if(a.id.startsWith("rollcall_")) document.getElementById("va_"+aaid).value=2
           if(a.id.startsWith("miss_")) document.getElementById("va_"+aaid).value=4
         }else{
           temp_.checked = false;
           nullcnt++;
         }
      }
      if(nullcnt==3) document.getElementById("va_"+aaid).value=0;
    }
    function outtime(x,a){
      var x = document.getElementById("out_time_"+x);
      x.value=fmt_time()
    }
    function form_submit(){
      let staf_ref="#{rollcall_by}"
      let ori_list=[]
      let act="add";
      var table = document.getElementById("grp_list");
      for (var i = 0, row; row = table.rows[i]; i++) {
         ori_list.push(`${row.cells[0].innerHTML}`)
         if(row.cells[0].innerHTML==staf_ref) act="update"
      }            
      let cnt=0;
      let cnt2=0;
      $("form input:checkbox").each(function () { 
        if(this.id.startsWith("id"))
        {
           if(!this.checked){
             console.log(this.parentElement.parentElement)
             this.parentElement.parentElement.remove()
           }else{
             cnt++
             let aa_id=this.id.replace("id_","")
             console.log(document.getElementById("rollcall_"+aa_id))
             if(document.getElementById("rollcall_"+aa_id).checked) cnt2++
           }
        }
      }); 
      alert(`${cnt} ${cnt2}`);
      if(cnt2>0){
        $.post( "#{act}",{cnt:cnt2,act:act}, function( data ) {
        let table_ctx=""
        for(let r of JSON.parse(data)){
          table_ctx+=`<tr><td>${r.stud_ref}<td>${r.al_id}<td>${r.classno}<td>${r.cnt}`
        }
        $( "#grp_list" ).html( table_ctx );
      });
      }
      document.getElementById("formid").submit();
    }
  span 點名總人數:
  table#grp_list  
    if grp_list
      for b_ in grp_list
        tr 
          td= b_.stud_ref
          td= b_.al_id
          td= b_.classno
          td= b_.cnt  
  form(method="POST", enctype="multipart/form-data")#formid
    table.table 
      tr 
        td 更新
        td &nbsp;Name
        td &nbsp;
        td 
          a(onclick="rollcallAll();") 報到_A
        td &nbsp; 
      for book in books
        tr
          td
            input(type="checkbox", id=`id_${book.aa_id}`,onclick=`reset_row(${book.aa_id},this)` )     
            input(type="hidden",id=`va_${book.aa_id}`,size=1,readonly,disabled) 
          td  
            span= book.c_name
            br
            span= book.classno
            span 	&nbsp;
            span= book.seat 
          td
            .form-group
              label(for="title",style="width:20px") 請假
              input(type="checkbox",name= (`rollcall_${book.aa_id}`), id= (`leave_${book.aa_id}`), value=1, checked= ( book.rollcall == 1 ? true : false ),onclick=`intime(${book.aa_id},this)` )
          td  
            .form-group
              label(for="title",style="width:20px") 報到
              input(type="checkbox", name= (`rollcall_${book.aa_id}`),id= (`rollcall_${book.aa_id}`), value=2,checked= ( book.rollcall == 2 ? true : false ),onclick=`intime(${book.aa_id},this)` )
          td  
            .form-group
              label(for="title",style="width:20px") 失踪
              input(type="checkbox", name= (`rollcall_${book.aa_id}`),id= (`miss_${book.aa_id}`), value= 4,checked= ( book.rollcall == 4 ? true : false ),onclick=`intime(${book.aa_id},this)` )

  button.btn.btn-success(type="bottun", onclick="form_submit();") Save
  if !books.length
    p No activity course found.
