extends ./base.pug
block content 
  link(rel='stylesheet', href='/stylesheets/cool/kidevalform.css')
  h3= `${al_id} ${fn}`
  a(href=`/internal/attrollcall/al_list/${act_c_id}/edit/${al_id}?fn=${fn}`, class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-edit
    span 登記出席
  style.  
    td{padding: 2px 5px 5px 5px;}
  table
    tr 
      td id
      td Name
      td class
      td 請假
      td 報到
      td 失踪

    for book in books
      tr
        td
          span= book.aa_id
        td  
          span= book.c_name
        td  
          span= book.classno
          span &nbsp;
          span= book.seat 
        - out_type_list=["","請假","報到","","失踪"]
        span &nbsp;
        each val in [1,2,4]
          td
            if  book.rollcall == val 
              if book.rollcall == 2
                span(class="glyphicon glyphicon-ok")
              label(class="radio-inline")= out_type_list[val] +""
    if !books.length
      p No activity course found.

  

