extends ./base.pug
block content 
  script.
    function aaaa(){
      let staf_ref="#{rollcall_by}"
      ///
      let ori_list=[]
      var table = document.getElementById("grp_list");
      for (var i = 1, row; row = table.rows[i]; i++) {
         //for (var j = 0, col; col = row.cells[j]; j++) {     }
         ori_list.push(`${row.cells[0].innerHTML}`)
      }      
      let stud_list=[]
      let aa=document.getElementById("STUDLIST").value.split('\n');
      let append_arr=[]
      for(aa_ of aa ){
        console.log(aa_.endsWith("*"))
         if(aa_.endsWith("*")) {
           let aa__=aa_.replace("*","")
           for(let i=1;i<40;i++){
             append_arr.push(aa__+i);
           }
         }
      }
      aa =aa.concat(append_arr)
      for(aa_ of aa ){
        aaa_=aa_.split(";")
        for(bb_ of aaa_) {
          bb_=bb_.toUpperCase().trim().replace(/\W+/g,"");
          var res = re.exec(bb_);
          if(res){ for(res_ of res){ if(ori_list.indexOf(res_)<0) stud_list.push(res_) }   }
          res = re1.exec(bb_);
          if(res){ for(res_ of res){ if(ori_list.indexOf(res_)<0) stud_list.push(res_) }   }
          res = re2.exec(bb_);
          if(res){ for(res_ of res){ if(ori_list.indexOf(res_)<0) stud_list.push(res_) }   }
          res = re3.exec(bb_);
          if(res){ for(res_ of res){ if(ori_list.indexOf(res_)<0) stud_list.push(res_) }   }

        }
      }
      document.getElementById("STUDLIST").value=JSON.stringify(stud_list)
      document.forms["formid"].submit();

      ///
      let cnt=document.getElementById("aa_li_cnt").value;
      var reg = /^\d+$/;
      if(cnt.match(reg)){
      $.post( "#{act}",{cnt:cnt,act:"add"}, function( data ) {
        //$( ".result" ).html( data );
        alert( data );
      });
      }
    }
  link(rel='stylesheet', href='/stylesheets/cool/kidevalform.css')
  h3= `${al_id} ${fn}`
  //form(action=act,method="POST") 
  span 點名總人數:
  input(id="aa_li_cnt")
  input(type="button",class="btn btn-success" ,value="add_cnt",onclick="aaaa();")
  table#grp_list  
    if grp_list
      for b_ in grp_list
        tr 
          td= b_.stud_ref
          td= b_.cnt
          td c
  a(href=`/internal/attrollcall/al_list/${act_c_id}/edit/${al_id}?fn=${fn}`, class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-edit
    span 登記出席
  style.  
    td{padding: 2px 5px 5px 5px;}
  table
    tr 
      td id
      td Name
      td class
      td 請假
      td 報到
      td 失踪

    for book in books
      tr
        td
          span= book.aa_id
        td  
          span= book.c_name
        td  
          span= book.classno
          span &nbsp;
          span= book.seat 
        - out_type_list=["","請假","報到","","失踪"]
        span &nbsp;
        each val in [1,2,4]
          td
            if  book.rollcall == val 
              if book.rollcall == 2
                span(class="glyphicon glyphicon-ok")
              label(class="radio-inline")= out_type_list[val] +""
    if !books.length
      p No activity course found.

  

