extends ./base.pug
block content 
  script.
    function aaaa(){
      let cnt=document.getElementById("aa_li_cnt").value;
      var reg = /^\d+$/;
      if(cnt.match(reg)){
      $.post( "#{act}",{cnt:cnt,act:"add"}, function( data ) {
        //$( ".result" ).html( data );
        alert( data );
      });
      }
    }
  link(rel='stylesheet', href='/stylesheets/cool/kidevalform.css')
  h3= `${al_id} ${fn}`
  //form(action=act,method="POST") 
  span 點名總人數:
  input(id="aa_li_cnt")
  input(type="button",class="btn btn-success" ,value="add_cnt",onclick="aaaa();")
  if grp_list
    table
      for b_ in grp_list
        tr 
          td a
          td b
          td c
  a(href=`/internal/attrollcall/al_list/${act_c_id}/edit/${al_id}?fn=${fn}`, class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-edit
    span 登記出席
  style.  
    td{padding: 2px 5px 5px 5px;}
  table
    tr 
      td id
      td Name
      td class
      td 請假
      td 報到
      td 失踪

    for book in books
      tr
        td
          span= book.aa_id
        td  
          span= book.c_name
        td  
          span= book.classno
          span &nbsp;
          span= book.seat 
        - out_type_list=["","請假","報到","","失踪"]
        span &nbsp;
        each val in [1,2,4]
          td
            if  book.rollcall == val 
              if book.rollcall == 2
                span(class="glyphicon glyphicon-ok")
              label(class="radio-inline")= out_type_list[val] +""
    if !books.length
      p No activity course found.

  

