extends ./base.pug
block content 
  h3 列表
  input(class="form-control", id="myInput", type="text", placeholder="Search..")  
  table(class="table table-inverse")#desc
    each book in books
      tr
        td
          if book.activeName != ""
            .media
              a(href=`/internal/attrollcall/al_list/${book.act_c_id}?fn=${book.activeName}`)
                .media-left
                    //img(src=book.imageUrl || "http://placekitten.com/g/128/192")
                .media-body
                  h4
                    span= book.act_c_id
                    span 	&nbsp;	&nbsp;
                    span= book.active
                    span 	&nbsp;	&nbsp;
                    span= book.activeName

  if !books.length
    p No activity course found.
  script.
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#desc tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });      
