extends ./base.pug
block content 
  link(rel='stylesheet', href='/stylesheets/cool/kidevalform.css')
  h3= `${al_id} ${fn}`
  a(href=`/internal/activitycourses/al_list/${act_c_id}/edit/${al_id}?fn=${fn}`, class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span 登記出席
  style.  
    td{padding: 2px 5px 5px 5px;}
  table
    tr 
      td id
      td Name
      td class
      td in
      td out
      td OT hours

    for book in books
      tr
        td
          span= book.aa_id
        td  
          span= book.c_name
        td  
          span= book.classno
          span &nbsp;
          span= book.seat 
        td  
          span &nbsp;
          span= book.in_type
          - in_type_list=["","出席","遲到","缺席"]
          each val in [1,2,3]
            if book.in_type == val 
              if book.in_type == 1
                span(class="glyphicon glyphicon-ok")            
              label(class="radio-inline")= in_type_list[val] +"" 
          span &nbsp;
          span &nbsp;
          span 時間:
          span= book.in_time
        td  
          - out_type_list=["","下課","早退","加時"]
          span &nbsp;
          span= book.out_type
          each val in [1,2,3]
            if  book.out_type == val 
              if book.out_type == 1
                span(class="glyphicon glyphicon-ok")
              label(class="radio-inline")= out_type_list[val] +""
          span &nbsp;
          span &nbsp;
          span 時間:
          span= book.out_time
        td  
          span= book.hours
    if !books.length
      p No activity course found.

  

