doctype html
html
  head
    title act
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery.js')    
    script(src='/javascripts/bootstrap.js')        
    style.
      a {color:white;}
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-brand 點名登記管理
        .collapse.navbar-collapse#myNavbar
          ul.nav.navbar-nav
            li
              a(href="/internal/") 
                span(class="glyphicon") &#xe021
            li
              a(href="/internal/attrollcall_admin") 項目列表
            if act_c_id
              li
                a(href=`/internal/attrollcall_admin/al_list/${act_c_id}?fn=${fn}`) 課表(#{act_c_id})            
            if profile    
              li
                a(href="/internal/attrollcall_admin/actlist") 項目管理
  
          ul.navbar-text.navbar-right
            if al_pass
              a(href="/internal/attrollcall_admin/al_logout",style="color:green") (exit)#{al_pass}    
            if att_pass
              a(href="/internal/attrollcall/al_logout",style="color:green") (exit)#{att_pass.stud_ref}                         
            if profile
              if profile.image
                img.img-circle(src=profile.image, width=24)
              span #{profile.displayName} &nbsp;
                //a(href='/logout') (logout)
            else
              //a(href='/login') Login
    .container
      block content
