extends ./base.pug
block content 
  h3= fn

  a(href=`/internal/activitycourses/al_list/${book.al_id}/add`, class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add lesson

  for book in books
    .media
      a(href=`/internal/activitycourses/al_list/${book.al_id}?fn=${book.lesson}`)
        .media-left
            //img(src=book.imageUrl || "http://placekitten.com/g/128/192")
        .media-body
          h4
            span= book.al_id
            span 	&nbsp;	&nbsp;
            span= book.al_datetime
            span 	&nbsp;	&nbsp;
            span= book.lesson
  if !books.length
    p No activity course found.

  

