extends ./base.pug
block content 
  h3 NEWS
  each book in books
    .media
      //a(href=`/internal/activitycourses/al_list/${book.iid}?fn=${book.titile}`)
      .media-left
          //img(src=book.imageUrl || "http://placekitten.com/g/128/192")
      .media-body
        h4
          span= book.iid
          span 	&nbsp;	&nbsp;
          span= book.title
          span 	&nbsp;	&nbsp;
        div !{book.description}
        div
          small 日期
          span 	&nbsp;
          small= book.pubDate
        div
          small 類別 
          span 	&nbsp;
          small= book.category


  if !books.length
    p No item found.
